.header {
  height: 100px;

  position: absolute;
  top: 40px;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

h3 {
  font-family: HeaderFont;
  font-size: 30px;
  margin: 0;
  padding-top: 40px;
  color: #67132c;
}

.startPage {
  margin: 0;
}
.loading {
  background: #282c34;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerRightPanel {
  position: fixed;
  top: 20%;
  right: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.containerLeftPanel {
  position: fixed;
  top: 20%;
  left: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.item {
  background: rgba(229, 232, 248, 0.53);

  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  justify-content: center;
  gap: 10px;
  border-radius: 30px;
}
.img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid rgba(6, 19, 47, 0.18);
  transition: transform 0.1s ease;
}
.img:hover {
  transform: scale(2); /* увеличим размер при наведении */
}

.btn_clean {
  outline: none;
  cursor: pointer;
  background: rgba(229, 232, 248, 0.53);
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 50px;
}
.btn_clean:hover {
  background: rgba(132, 134, 147, 0.22);
}
input[type="color"] {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 3px;
  cursor: pointer;

  outline: none;
}

/* -webkit */
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  width: 1px;
  border-radius: 50%;
}

input[type="number"] {
  outline: none;
}

.btn {
  position: absolute;
  bottom: 50px;
  z-index: 1;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  width: 100px;
  cursor: pointer;
  background: hsl(339.26deg 46.36% 65.44%);
  color: white;
  transform: translateY(-6px);
}

.front:hover {
  background: hsl(340, 35%, 47%);
}
